<html ng-app="scoring">
	<head>
		<title>FLL Scoring</title>
		<link href="/node_modules/@first-lego-league/user-interface/current/assets/css/app.css" rel="stylesheet" type="text/css" />
		<link href="/css/app.css" rel="stylesheet" type="text/css" />
		<link rel="icon" href="/node_modules/@first-lego-league/user-interface/current/assets/img/first-favicon.ico" type="image/x-icon"/>
	</head>
	<body ng-controller="ScoringController as scoring">
		<div class="top-bar">
	    	<div class="top-bar-left">
	    		<button class="hamburger--vortex" ng-class="{'is-active': scoring.showScoresScreen}" data-hamburger type="button" ng-click="scoring.toggleScoresList()">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
				<span class="h2" ng-click="scoring.notify()"><i>FIRST</i> LEGO League Scoring</span>
			</div>
			<div class="top-bar-right">
				<a class="button" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
	    </div>

	    <div class="top-bar-page">
	    	<scores ng-show="scoring.showScoresScreen"></scores>
	    	<scoresheet id="scoresheet" ng-hide="scoring.showScoresScreen"></scoresheet>
	    </div>

		<script src="/node_modules/@first-lego-league/user-interface/current/assets/js/app.js" type="text/javascript"></script>
		<script src="/dist/bundle.js" type="text/javascript"></script>
	</body>
</html>