<div class="points">
	<div class="ui horizontal statistic">
		<div class="value">
			{{scoresheetActions.data.score() || 0}}
		</div>
		<div class="label">
			pts.
		</div>
	</div>
</div>
<div id="scoresheet-actions-menu" class="ui right floated menu" screen-orientation="landscape">
	<div class="ui icon link item" ng-click="scoresheetActions.setDefault()" ng-if="scoresheetActions.defaultEnabled()">
		<i class="ui green arrow down icon"></i>
		<div class="hover text">Set default values</div>
	</div>
	<div class="ui icon link item" ng-click="scoresheetActions.reset()">
		<i class="ui undo icon"></i>
		<div class="hover text">Reset scoresheet</div>
	</div>
</div>
<div id="scoresheet-actions-dropdown" class="ui right floated menu" screen-orientation="portrait">
	<div class="ui simple dropdown item">
		<i class="ui ellipsis vertical icon"></i>
		<div class="menu">
			<div class="ui icon link item" ng-click="scoresheetActions.setDefault()" ng-if="scoresheetActions.defaultEnabled()">
				<i class="ui green arrow down icon"></i>
				Set default values
			</div>
			<div class="ui icon link item" ng-click="scoresheetActions.reset()">
				<i class="ui undo icon"></i>
				Reset scoresheet
			</div>
		</div>
	</div>
</div>
