<div class="ui right floated menu">
	<div class="ui icon link item" ng-click="scoresheetActions.setDefault()" ng-if="scoresheetActions.defaultEnabled()">
		<i class="ui green arrow down icon"></i>
		<div class="hover text">Set default values</div>
	</div>
	<div class="ui icon link item" ng-click="scoresheetActions.markNoShow()" ng-class="{'disabled': scoresheetActions.noShowDisabled()}">
		<i class="ui orange minus icon"></i>
		<div class="hover text">No Show</div>
	</div>
	<div class="ui icon link item" ng-click="scoresheetActions.reset()">
		<i class="ui undo icon"></i>
		<div class="hover text">Reset scoresheet</div>
	</div>
	<div class="ui icon link item" ng-if="scoresheetActions.isAdmin" ng-click="scoresheetActions.cancel()">
		<i class="ui red times icon"></i>
		<div class="hover text">Cancel</div>
	</div>
</div>