/*
* Colors used in this theme from light to dark:
* - #EDFAFD (Glass)
* - #AED9DA (Chill)
* - #3DDAD7 (Californian Coral)
* - #2A93D5 (Bondi Blue)
* - #135589 (Marina)
*
*/

body {
	background: #AED9DA; /* Chill */
}

.appbar, .drawer {
	color: #EDFAFD; /* Glass */
	background: #135589; /* Marina */
    font-weight: bold;
    text-indent: 0.5em;
}

.drawer a:hover {
    background: #2A93D5 !important; /* Bondi Blue */
}

/* buttons */

.btn {
    background: #EDFAFD; /* Glass */
    border: 1px #AED9DA solid; /* Glass */
    color: #135589; /* Marina */
}

.btn.btn-danger {
    background: #DC4545;
    color: white;
}

.btn.active {
    background: #135589 !important; /* Marina */
    color: #EDFAFD; /* Glass */
}

/* scoresheet */

#intro-toolbar {
	color: #EDFAFD; /* Glass */
	background: #2A93D5; /* Bondi Blue */
}

#scoresheet-teams .teams-list {
	border-radius: 1em;
	border-color: #2A93D5; /* Bondi Blue */
    overflow-x: hidden;
}

#scoresheet-teams .teams-list table {
	width: calc(100% + 1px);
	max-width: unset;
}

#scoresheet-teams .teams-list table th {
    background: #2A93D5; /* Bondi Blue */
}

#scoresheet-teams .teams-list table tr:nth-child(2n) {
    background: #AED9DA; /* Chill */
}

#scoresheet-teams .teams-list table tr:nth-child(2n+1) {
    background: white;
}

#scoresheet-teams .teams-list table tr.selected {
    background: #3DDAD7 !important; /* Californian Coral */
}

#scoresheet-teams .stage-select .round {
    background: white;
    border: #3DDAD7 1px solid; /* Californian Coral */
}

#scoresheet-teams .stage-select .round.selected {
    background: #3DDAD7 !important; /* Californian Coral */
}

#team-toolbar {
	background: #EDFAFD; /* Glass */
	color: #135589; /* Marina */
}

#team-toolbar .team-title {
	line-height: 1.6em;
    font-size: 2em;
    margin: 0 1em;
}

#team-toolbar .score {
	line-height: 1.6em;
    font-size: 2em;
    margin: 0 1em;
}

#missions .mission.ok {
	background: #3DDAD7; /* Californian Coral */
}

#missions .mission.error, #missions .errors.card {
	background: #FFB1B1;
}

#missions .mission.error .errors {
    border: #8c3030 1px solid;
    padding: 0.2em;
}

/* scores */

.nav-tabs {
    background: #2A93D5; /* Bondi Blue */
    color: #EDFAFD; /* Glass */
    border-bottom: 1px solid #135589; /* Marina */
}

.nav-tabs li a {
    border: 1px solid #135589; /* Marina */
    color: #EDFAFD; /* Glass */
    border-bottom: none;
    margin-left: 0.5em;
    font-weight: bold;
}

.nav-tabs li.active a {
    background: #AED9DA; /* Chill */
    color: #135589; /* Marina */
}

.nav-tabs li a:hover {
    background: #EDFAFD; /* Glass */
    color: #2A93D5; /* Bondi Blue */
}

#scores .scores-table .editing-form i {
    color: #135589; /* Marina */
}

#scores .scores-table .editing-form i {
    color: #135589; /* Marina */
}

#scores .scores-table tr.error, #scores .scores-table tr.error td {
    background: #DC8686;
}

#scores .scores-table .error-description {
    color: #4e0000;
    font-size: 2rem;
    padding: 1rem;
}

/* Tournament */

#tournament .card.structure .currentStage {
    background: #AED9DA; /* Chill */
}
