metadata-inputs {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

metadata-inputs > .ui.grid {
    width: 100%;
}

#teams-column {
    flex-grow: 1;
    max-width: 50rem;
}

#matches-column {
    display: flex;
    flex-grow: 0;
    width: fit-content;
}

#matches-buttons {
	display: flex;
	align-items: center;
}
