<div class="intro-card">

	<h3>So who's gonna be working here?</h3>

    <label>Table:</label>
    <div class="fluid">
    	<select ng-model="scoreEntry.table" ng-options="item.name as item.name for item in settings.tables"></select>
    </div>

    <label>Referee:</label>
    <div class="fluid">
    	<select ng-model="scoreEntry.referee" ng-options="item.name as item.name for item in settings.referees"></select>
    </div>

	<div class="center">
		<div class="btn" ng-click="moveOn('teams')" ng-class="{ disabled: !scoreEntry.referee || !scoreEntry.table }">Start</div>
	</div>
</div>
