<div class="mission card {{mission.title.substr(0, mission.title.indexOf(' '))}}" ng-repeat="mission in missions track by mission.title" ng-class="{error:mission.errors.length, ok:mission.completed}">

    <div class="card-top">
    	<h2 class="card-header">
            {{mission.title}}
        </h2>
        <div class="card-menu">
            <div class="mission-score" ng-if="mission.result">{{mission.result}}</div>
        </div>
    </div>

    <div class="card-body">
	    <div class="errors">
            <div class="error" ng-repeat="error in mission.errors track by $index">
                <i class="material-icons">warning</i>{{error.message}}
            </div>
        </div>
        <div class="objective" ng-repeat="objective in mission.objectives track by objective.title" ng-switch="objective.type">
            <span class="objective-title">{{objective.title}}</span>
            <span class="field" ng-switch-when="yesno">
                <div class="btn-group">
                    <label class="btn btn-enum" ng-model="objective.value" btn-radio="'yes'" ng-change="recalcScorediff()">{{getString('yes')}}</label>
                    <label class="btn btn-enum" ng-model="objective.value" btn-radio="'no'" ng-change="recalcScorediff()">{{getString('no')}}</label>
                </div>
            </span>
            <span class="field" ng-switch-when="number">
                <span fll-spinner ng-model="objective.value" min="objective.min || 0" max="objective.max" ng-change="recalcScorediff()"></span>
            </span>
            <div class="field" ng-switch-when="enum">
                <div class="btn-group">
                    <label ng-repeat="line in objective.options track by line.title" class="btn btn-enum" ng-model="objective.value" btn-radio="line.value" ng-change="recalcScorediff()">{{line.title}}</label>
                </div>
            </div>
	    </div>
    </div>

</div>

<div class="errors card" ng-hide="!missionsErrors().length">
    <div class="error" ng-repeat="error in missionsErrors() track by $index">
        <i class="material-icons">warning</i>{{error}}
    </div>
</div>

<div class="move-on btn btn-primary" ng-disabled="missionsErrors().length" ng-click="moveOn('signoff')">
    All done!
</div>
