<ng-datatable collection="teams" config="teamChoosingTableConfig" class="teams-list scrollable-body"></ng-datatable>

<div class="stage-select">
	<h3 class="title" ng-show="scoreEntry.team">{{scoreEntry.team.name}} - {{scoreEntry.team.number}}</h3>
	<div class="stages">
		<div ng-show="scoreEntry.team" ng-repeat="stage in stages" class="stage" style="flex: {{stage.rounds}}">
			<div class="stage-title" ng-show="scoreEntry.team">
				{{stage.id}}
			</div>
			<div class="rounds">
				<div ng-repeat="round in rounds(stage)">
					<i ng-if="$index !== 0" class="material-icons">arrow_forward</i>
					<div class="round" ng-class="{ selected: isStageAndRoundSelected(stage, round), done: isDoneRound(stage, round) }" ng-click="selectStageAndRound(stage, round)">
						{{round}}
					</div>
					<div ng-if="isDoneRound(stage, round)" class="round-score">{{roundScore(stage, round)}}</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="actions">
	<div class="move-on btn btn-primary" ng-disabled="!scoreEntry.team || !scoreEntry.stage || !scoreEntry.round" ng-click="moveOn('missions')">
		3 2 1 LEGO!
	</div>
</div>
