<div class="teams-search-input">
    <input type="text" placeholder="search teams" class="form-control" ng-model="teamChoosingTableConfig.teamsSearch">
</div>

<ng-datatable ng-if="teams.length !== 0" collection="teams" config="teamChoosingTableConfig" class="teams-list scrollable-body"></ng-datatable>

<div ng-if="scoreEntry.team" class="stage-select">
	<h3 class="title">{{scoreEntry.team.name}} - {{scoreEntry.team.number}}</h3>
	<div class="stages">
		<div ng-repeat="stage in stages track by stage.id" class="stage" style="flex: {{stage.rounds}}">
			<div class="stage-title" ng-show="scoreEntry.team">
				{{stage.id}}
			</div>
			<div class="rounds">
				<div ng-repeat="round in rounds(stage) track by $index">
					<i ng-if="$index !== 0" class="material-icons">arrow_forward</i>
					<div class="round" ng-class="{ selected: isStageAndRoundSelected(stage, round), done: isDoneRound(stage, round) }" ng-click="selectStageAndRound(stage, round)">
						{{round}}
					</div>
					<div ng-if="isDoneRound(stage, round)" class="round-score">{{roundScore(stage, round)}}</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-if="scoreEntry.team" class="actions">
	<div class="move-on btn btn-primary" ng-disabled="!scoreEntry.team || !scoreEntry.stage || !scoreEntry.round" ng-click="moveOn('missions')">
		3 2 1 LEGO!
	</div>
</div>

<div id="no-teams-message" ng-if="teams.length === 0">
	There are no teams!
	<small>Please ask your tournament official to enter some</small>
</div>
