<div class="ui placeholder center aligned segment" dnd-droppable="true" dnd-model="emptySlot.position">
	<div class="ui hover text header">
		No score yet
	</div>
	<div class="hover text actions">
		<div class="ui buttons">
			<a class="ui basic icon compact icon primary button" href="{{emptySlot.scoresheetUrl}}">
				<i class="folder open outline icon"></i>
				Scoresheet
			</a>
			<div class="ui basic icon compact icon secondary button" ng-click="emptySlot.createEmpty()" hover-class="primary">
				<i class="file outline icon"></i>
				Empty
			</div>
			<div class="ui basic icon compact icon orange button" ng-click="emptySlot.createNoShow()" hover-class="primary">
				<i class="ban icon"></i>
				No-Show
			</div>
		</div>
	</div>
</div>