#signature {
    height: 10rem;
    display: flex;
    justify-content: center;
}

#signature canvas {
    border: lightgray 2px solid;
    border-radius: 1em;
}

bm-signature-pad {
    width: 100%;
    height: 100%;
    display: block;
}
