<a class="link item" href="#!/scoresheet">
	<i class="primary file alternate outline icon"></i>
	New
</a>
<div class="link icon borderless item" ng-class="{active: scoresMenu.page === 'tiles'}" ng-click="scoresMenu.setPage('tiles')">
	<i class="th icon"></i>
	<span class="hover text">Tiles view</span>
</div>
<div class="link icon item" ng-class="{active: scoresMenu.page === 'ranks'}" ng-click="scoresMenu.setPage('ranks')">
	<i class="th list icon"></i>
	<span class="hover text">Ranks view</span>
</div>
<div class="link icon item" ng-class="{active: scoresMenu.page === 'trash'}" ng-click="scoresMenu.setPage('trash')">
	<i class="trash icon"></i>
	<span class="hover text">Recycle bin</span>
</div>