.slot-data {
	margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.slot-data .column:last-child {
    padding-left: 0 !important;
}

.slot-data .column:first-child {
    padding-right: 0 !important;
}

.slot-data .column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.editable-text input {
    border: none;
    outline: none;
}

.editable-number input {
	border: none;
    outline: none;
    width: 100%;
}

single-score-slot .segment:not(.moving) {
    top: 0 !important;
    left: 0 !important;
}

single-score-slot .segment.moving {
    z-index: 100;
}

single-score-slot .placeholder.segment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2rem);
}
