<div class="ui segment" dnd-draggable="true" dnd-on-dragstart="singleScoreSlot.startMovement()" dnd-on-dragend="singleScoreSlot.resolveMovement($dropmodel)" ng-class="{moving: singleScoreSlot.moving}">
	{{singleScoreSlot.data[0].dateText}}
	<div class="ui slot-data grid">
		<div class="eight wide column">
			<div>
				<div editable-text="singleScoreSlot.data[0].referee" buttons="no" blur="submit" onaftersave="singleScoreSlot.save()">
			      Referee: {{ singleScoreSlot.data[0].refereeText }}
			    </div>
			</div>
			<div ng-if="!singleScoreSlot.tournament.tablesDisabled">
				<div class="ui link"
					editable-select="singleScoreSlot.data[0].tableId" buttons="no" blur="submit" onaftersave="singleScoreSlot.save()"
					e-ng-options="table.tableId as table.tableName for table in singleScoreSlot.tournament.tables" e-class="ui simple dropdown">
					Table: {{singleScoreSlot.data[0].tableText}}
				</div>
			</div>
		</div>
		<div class="eight wide center aligned column">
			<div class="ui horizontal statistic">
				<div class="value">
					<div class="ui link" editable-number="singleScoreSlot.data[0].score" buttons="no" blur="submit" onaftersave="singleScoreSlot.save()">
						{{ singleScoreSlot.data[0].score }}
					</div>
				</div>
				<div class="label">
					pts.
				</div>
			</div>
		</div>
		<score-actions score="singleScoreSlot.data[0]" class="sixteen wide column"></score-actions>
	</div>
	<div class="ui inverted dimmer" ng-class="{active: !singleScoreSlot.ready}">
		<div class="ui loader"></div>
	</div>
</div>
<div class="ui placeholder center aligned segment" ng-if="singleScoreSlot.moving"></div>