status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;

}
status .status-bar {
	padding: 0.25rem !important;
    border: none !important;
    transition: margin-top linear 0.5s 1s;
}

status .status-bar.show {
	margin-top: 3rem !important;
	transition-delay: 0s;
}
