.top-bar .button-group {
	display: flex !important;
}

.button-group {
	justify-content: center;
}

.button-group .button {
	margin-right: 1px !important;
	margin-bottom: 1px !important;
}

.editable-hide {
  display: none !important;
}

.has-tip {
  cursor: pointer !important;
}

.button {
    font-size: 0.8rem !important;
    padding: 0.5rem !important;
}

.menu select, .menu input {
    padding-top: 0;
    padding-bottom: 0;
    height: 1.8em;
}
