objective .button-group input{
  display: none;
}

objective .button-group input:checked + label,
objective .button-group input:checked + label:active {
  background-color: #d67924;
}

scoresheet .stamp {
	float: right;
    position: absolute;
    top: 1em;
    right: 1em;
    border-width: 2px !important;
    font-weight: bold;
    transform: rotate(-10deg);
}

@media only screen and (max-width: 640px) {

	#default-scoresheet {
		display: none;	
	}

	#reset-scoresheet {
		display: none;	
	}

}

@media only screen and (max-width: 510px) {

  ref-identity .button {
    font-size: 0;
  }

  ref-identity .button i {
    font-size: 1rem;
    margin: 0; 
  }

}

scoresheet .top-bar-page {
  position: relative;
  overflow-x: hidden;
}

scoresheet .top-bar-page > .grid-container {
  overflow-y: scroll;
  height: 100%;
}

#score-diff-animation {
  display: block !important;
  z-index: 1000;

  position: absolute;
  top: -6rem;
  right: 1em;
  width: 6rem;
  height: 6rem;

  background: url('~@first-lego-league/user-interface/current/assets/img/animation.gif');
  background-size: 100%;
  background-repeat: no-repeat;

  transition: top linear 0.5s;

  padding-top: 0.9rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

#score-diff-animation.ng-hide-animate {
  top: 6rem;
  transition: top linear 0s;
}
