objective .button-group input{
  display: none;
}

objective .button-group input:checked + label,
objective .button-group input:checked + label:active {
  background-color: #d67924;
}

scoresheet .stamp {
	float: right;
    position: absolute;
    top: 1em;
    right: 1em;
    border-width: 2px !important;
    font-weight: bold;
    transform: rotate(-10deg);
}

@media only screen and (max-width: 640px) {

  #score-diff-animation {
    display: none;  
  }

	#default-scoresheet {
		display: none;	
	}

	#reset-scoresheet {
		display: none;	
	}

}

@media only screen and (max-width: 510px) {

  ref-identity .button {
    font-size: 0;
  }

  ref-identity .button i {
    font-size: 1rem;
    margin: 0; 
  }

}
