
#sort-dropdown ul {
  width: 100%;
  min-width: 100%;
}

#sort-dropdown li:nth-child(2n) {
  background: #e0e0e0;
}

scores-tiles {
  margin-top: 1rem;
}

score-tile h6 {
  margin: 0 !important;
  line-height: 1.2em !important;
}

.ranks-header {
  font-weight: bold;
  color: white;
}

.ranks-header h5 {
  margin: 0;
}

.ranks {
  overflow-y: scroll;
  height: calc(100vh - 6.8rem);
}
.rank > .cell:first-child, .ranks-header > .cell:first-child, scores-tiles > .cell {
  padding: 0 0.5rem 0 0.5rem !important;
}

.rank > .cell, .ranks-header > .cell {
  padding: 0 0.5rem 0 0 !important;
}

.rank .card, score-tile .card {
  margin-bottom: 0.5rem !important;
}

.rank .team {
  font-weight: bold;
}

scores .card .card-section, scores .card .card-divider {
  padding: 0.5rem;
}

scores .card .card-section:first-child {
  padding-bottom: 0;
}

scores .button-group {
  margin: 0;
}

conflict-slot {
  display: flex;
  position: relative;
}

conflict-slot .card-section.score-deatils {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

conflict-slot .right-score {
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.5rem) calc(50% - 1rem), 100% calc(50% + 1rem), calc(100% - 0.5rem) 100%, 0 100%);
}

conflict-slot .left-score {
  clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0% 100%, 0.5rem calc(50% + 1rem), 0% calc(50% - 1rem));
}

conflict-slot .conflict-message {
  position: absolute;
  color: darkred;
  font-weight: bold;
  right: 0.5rem;
}

empty-slot .card:not(.move-mode) {
  background: rgba(0,0,0,0.2);;
  border: none;
}

empty-slot .card:not(.move-mode) .stat {
  color: #a7a7a7;
}

empty-slot .card.move-mode {
  cursor: pointer;
}

empty-slot .card.move-mode .stat {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scores-list.small .extra-content {
  display: none;
}

#scores-list.big .summery {
  display: none;
}

#scores-list.small .rank .card {
  margin-bottom: 0 !important;
}

#scores-list.big .rank > .team-cell > .card {
  border-radius: 3rem 0 0 3rem;
  padding-left: 3rem;
}

.filter-dropdown ul {
  max-height: 10rem;
  overflow-y: auto;
}
