scoresheet-page > .rtl {
    direction: rtl;
}

.rtl .ui.list objective [class*="right floated"] {
    float: left;
}

.rtl objective .ui.buttons .button:first-child {
    border-top-right-radius: 0.28571429rem;
    border-bottom-right-radius: 0.28571429rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rtl objective .ui.buttons .button:last-child {
    border-left: none;
    margin-left: 0em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.28571429rem;
    border-bottom-left-radius: 0.28571429rem;
}

.rtl .ui.message > .close.icon {
    left: 0.5em;
    right: unset;
}

.rtl .ui.list > .item > i.icon {
    padding-left: 0.28571429em;
    padding-right: unset;
}

.signature.segment {
    margin: 0 auto;
}

@media only screen and (min-width: 970px) {
    #scoresheet-actions-dropdown {
        display: none;
    }
}

@media only screen and (min-width: 970px) and (max-width: 1330px) {
    scoresheet-page > .ui.page.sub.menu > .row > .points-column,
    scoresheet-page > .ui.page.sub.menu > .row > scoresheet-actions {
        width: 25% !important;
    }

    scoresheet-page > .ui.page.sub.menu > .row > metadata-inputs {
        width: 50% !important;
    }
}

@media only screen and (max-width: 970px) {
    scoresheet-page > .ui.page.sub.menu > .row > .points-column,
    scoresheet-page > .ui.page.sub.menu > .row > scoresheet-actions {
        width: 12.5% !important;
    }

    scoresheet-page > .ui.page.sub.menu > .row > metadata-inputs {
        width: 75% !important;
    }

    #scoresheet-actions-menu {
        display: none;
    }
}
