<div class="ui page sub menu grid">
	<metadata-inputs></metadata-inputs>
	<scoresheet-actions></scoresheet-actions>
</div>
<div id="missions" class="ui padded grid" ng-class="{rtl: scoresheetPage.data.current.rtl}">
	<div class="row">
		<div class="ui grid container">
			<div class="ui padded one column grid" ng-if="scoresheetPage.ready && scoresheetPage.data.ready" missions-scroll
			on="scrollToMission" mission-complete-event="mission complete" scoresheet-complete-event="scoresheet complete" scroll-enabled="scoresheetPage.localSettings.get('scoresheet-autoscroll')">
				<mission ng-repeat="mission in scoresheetPage.data.current.missions" id="{{mission.id}}" class="column" data="mission"></mission>
				<div class="column">
					<div class="ui segment" ng-class="scoresheetPage.error() ? 'error' : 'success'">
						<scoresheet-signature class="column"></scoresheet-signature>
						<div class="ui padded one column grid">
							<div class="center aligned column">
								<div class="ui large primary button" ng-class="{disabled: !scoresheetPage.complete()}" ng-click="scoresheetPage.save()">Done</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui active dimmer" ng-class="{ active: !scoresheetPage.ready || !scoresheetPage.data.ready }">
	<div class="ui massive loader"></div>
</div>