<div class="ui padded grid">
	<div class="row" id="scoresheet-header">
		<metadata-inputs class="ten wide column"></metadata-inputs>
		<div class="center aligned two wide column">
			<div class="ui horizontal statistic" ng-if="scoresheetPage.teamNumber() && scoresheetPage.matchId()">
				<div class="value">
					{{scoresheetPage.data.score()}}
				</div>
				<div class="label">
					pts.
				</div>
			</div>
		</div>
		<scoresheet-actions class="four wide column"></scoresheet-actions>
	</div>
	<div id="missions" class="row">
		<div class="ui grid container">
			<div class="ui padded one column grid" ng-if="scoresheetPage.ready" missions-scroll
			on="scrollToMission" mission-complete-event="mission complete" scoresheet-complete-event="scoresheet complete">
				<mission ng-repeat="mission in scoresheetPage.data.current.missions" id="{{mission.id}}" class="column" data="mission"></mission>
				<scoresheet-signature class="column"></scoresheet-signature>
				<div class="center aligned column">
					<div class="ui large primary button" ng-click="scoresheetPage.save()">Done</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui active dimmer" ng-class="{ active: !scoresheetPage.ready }">
	<div class="ui massive loader"></div>
</div>