<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>
<div class="mission card">text</div>