<a class="link item" href="{{scoresheetMenu.backLink}}" ng-if="scoresheetMenu.user.isAdmin()">
	<i class="reply icon"></i>
	Back to scores
</a>

<div id="referee-input" class="input item" screen-size="tablet small large" ng-if="scoresheetMenu.user.isAdmin()">
	<div class="ui transparent icon input">
		<i class="user icon"></i>
		<input type="text" placeholder="Enter referee" ng-model="scoresheetMenu.refIdentity.referee"/>
	</div>
</div>

<sm-dropdown id="table-input"  screen-size="tablet small large" ng-if="scoresheetMenu.user.isAdmin()" class="item" model="scoresheetMenu.refIdentity.table" items="scoresheetMenu.refIdentity.tournament.tables" label="item.tableName" default-text="'Select table'"></sm-dropdown>

<div id="ref-identity-button" class="link item" screen-size="mobile" ng-class="{ref: scoresheetMenu.user.isRef()}" ng-click="scoresheetMenu.showRefIdentityModal()">
	<i class="user icon"></i>
	<span screen-size="tablet small large">
		{{scoresheetMenu.refIdentity.referee}}
		<span ng-if="!scoresheetMenu.refIdentity.tablesDisabled">&nbsp;On Table&nbsp;{{scoresheetMenu.refIdentity.table.tableName}}</span>
	</span>
</div>

<sm-modal class="basic small" visible="scoresheetMenu.refIdentityModalVisible" settings="{ closable: false }">
	<div class="ui centered header">Please enter your information:</div>
	<div class="content">
		<div class="ui fluid input" ng-class="{error: scoresheetMenu.modalRefereeError && !scoresheetMenu.refIdentity.referee}">
			<input placeholder="Referee name..." ng-model="scoresheetMenu.refIdentity.referee" />
		</div>
	</div>
	<div class="content">
		<sm-dropdown class="fluid selection" model="scoresheetMenu.refIdentity.table" items="scoresheetMenu.refIdentity.tournament.tables" label="item.tableName" default-text="'Select table'" ng-class="{error: scoresheetMenu.modalTableError && !scoresheetMenu.refIdentity.table}"></sm-dropdown>
	</div>
	<div class="actions">
		<div class="ui primary inverted button" ng-click="scoresheetMenu.saveRefIdentity()">Save</div>
		<div class="ui red basic inverted button" ng-if="!scoresheetMenu.forceRefIdentityEntry" ng-click="scoresheetMenu.discardRefIdentityChange()">Cancel</div>
		<div class="ui red basic inverted button" ng-if="scoresheetMenu.forceRefIdentityEntry" ng-click="scoresheetMenu.logout()">
			<i class="sign out icon"></i>
			Log Out
		</div>
	</div>
</sm-modal>