<div ng-controller="scoresCtrl" id="scores">
    <tabset>
        <tab heading="Score entries">
            <div class="scores main card">
                <div class="card-top">
                    <div class="card-header">Score entries</div>
                    <form class="card-menu">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Filter scores" ng-model="search">
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table scores-table">
                    <thead>
                        <tr>
                            <td ng-repeat="key in scoresTableKeys" ng-class="key.key">
                                <a href="#" ng-click="setScoresTableSort(key)">
                                    {{key.header}}
                                </a>
                                <i class="material-icons sort-icon" ng-click="setScoresTableSort(key)">{{sortIcon(key)}}</i>
                            </td>
                            <td class="actions"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="score in scores | orderBy:scoresTableSort.key:scoresReverse | filter:search" ng-class="{error: score.error}">
                            <td ng-repeat="key in scoresTableKeys" ng-class="key.key" ng-show="!score.showError">
                                <span ng-show="!isEditing(score, key)" ng-click="startEditing(score, key)">{{score[key.key]}}</span>
                                <div ng-show="isEditing(score, key)" class="editing-form">
                                    <select ng-show="key.editable === 'options'" ng-model="score[key.savableValueKey]">
                                        <option ng-repeat="option in key.options" ng-selected="option.value === score[key.savableValueKey]" ng-value="option.value">{{option.text}}</option>
                                    </select>
                                    <select ng-show="key.editable === 'complex-options'" ng-model="score[key.key]" ng-change="key.onChange(score)">
                                        <option ng-repeat="option in key.options" ng-value="option.value">{{option.text}}</option>
                                    </select>
                                    <input ng-show="key.editable === 'text'" ng-model="score[key.savableValueKey]">
                                    <i class="material-icons" ng-click="saveEditing()">done</i>
                                    <i class="material-icons" ng-click="cancelEditing()">clear</i>
                                </div>
                            </td>
                            <td ng-show="score.error && score.showError" class="error-description">
                                {{score.error.message}}
                            </td>
                            <td class="actions">
                                <div class="btn-group">
                                    <div class="btn btn-danger" ng-show="score.error" ng-click="score.showError = !score.showError">
                                        <i class="material-icons">error</i>
                                    </div>

                                    <div class="btn" ng-click="togglePublished(score)">
                                        <i class="material-icons">{{ score.published ? 'remove_circle_outline' : 'add_circle_outline' }}</i>
                                    </div>
                                    <div class="btn" ng-click="editScoresheet(score)">
                                        <i class="material-icons">edit</i>
                                    </div>

                                    <div class="btn btn-danger" ng-click="deleteScore(score)">
                                        <i class="material-icons">delete</i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Rankings">
            <div class="ranks main card">
                <div class="card-top">
                    <div class="card-header">Rankings</div>
                    <div class="card-menu">
                        <a class="btn" href="{{exportFiles[viewedStage]}}" download="{{'ranking_' + viewedStage + '.csv'}}">
                            <i class="material-icons">file_download</i>Download
                        </a>
                        <div class="btn" ng-click="broadcastRanking()">
                            <i class="material-icons">publish</i>
                            Broadcast
                        </div>
                        <select ng-model="viewedStage" ng-change="recalcRanksKeys()">
                            <option ng-repeat="option in stages" ng-selected="option.id === viewedStage" ng-value="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                 <table class="table scores-table">

                    <thead>
                        <tr>
                            <td ng-repeat="key in ranksTableKeys" ng-class="key.key">
                                <a href="#" ng-click="setRanksTableKeys(key)">
                                    {{key.header}}
                                </a>
                                <i class="material-icons sort-icon" ng-click="setRanksTableKeys(key)">{{sortIcon(key)}}</i>
                            </td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="rank in scoreboard[viewedStage] | orderBy:ranksTablesort.key:ranksReverse">
                            <td ng-repeat="key in ranksTableKeys" ng-class="key.key">
                                {{rank[key.key]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>
