<div ng-controller="scoresheetCtrl" id="scoresheet">
    <div id="intro-toolbar" class="toolbar" ng-show="step !== 'intro'" ng-include="'views/pages/scoresheet/intro-toolbar.html'"></div>
    <div id="team-toolbar" class="toolbar" ng-show="scoreEntry.team && step !== 'teams'" ng-include="'views/pages/scoresheet/team-toolbar.html'"></div>

    <div id="intro" class="center" ng-show="step === 'intro'" ng-include="'views/pages/scoresheet/intro.html'"></div>
    <div id="scoresheet-teams" class="card" ng-show="step === 'teams'" ng-include="'views/pages/scoresheet/teams.html'"></div>
    <div id="missions" ng-show="step === 'missions'" ng-include="'views/pages/scoresheet/missions.html'"></div>
    <div id="signoff" ng-show="step === 'signoff'" ng-include="'views/pages/scoresheet/signoff.html'"></div>
</div>
