<div ng-controller="scoresCtrl" id="scores">
    <tabset>
        <tab heading="Score entries">
            <div class="scores main card">
                <div class="card-top">
                    <div class="card-header">Score entries</div>
                    <form class="card-menu">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search scores" ng-model="scoresTableConfig.searchValue">
                            </div>
                        </div>
                    </form>
                </div>
                <ng-datatable id="scores-table" collection="scores" config="scoresTableConfig" class="scrollable-body"></ng-datatable>
            </div>
        </tab>
        <tab heading="Rankings">
            <div class="ranks main card">
                <div class="card-top">
                    <div class="card-header">Rankings</div>
                    <div class="card-menu">
                        <a class="btn" ng-click="downloadCurrentStage()" id="download-ranks">
                            <i class="material-icons">file_download</i>Download
                        </a>
                        <div class="btn" ng-click="broadcastRanking()" id="broadcast-ranks">
                            <i class="material-icons">publish</i>
                            Broadcast
                        </div>
                        <select ng-model="ranksTableConfig.view" ng-change="calcRanksColumns()" id="viewed-rank">
                            <option ng-repeat="option in stages track by option.id" ng-selected="option.id === viewedStage" ng-value="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <ng-datatable id="ranks-table" collection="scoreboard[ranksTableConfig.view]" config="ranksTableConfig" class="scrollable-body"></ng-datatable>
            </div>
        </tab>
    </tabset>
</div>
