<div ng-controller="settingsCtrl" id="settings">
    <tabset>
        <tab heading="Advanced settings">
        	<div class="card advanced main">
        		<div class="card-body">
                    <div ng-repeat="setting in advancedSettings" class="setting">
                        <input type="{{setting.type}}" ng-model="setting.model" ng-change="save()">
                        <div class="setting-title">{{setting.title}}</div>
                        <div class="setting-description">{{setting.description}}</div>
                    </div>
                </div>
        	</div>
        </tab>
        <tab heading="Developer view">
        	<div class="card developer main">

		        <div class="card-header">Log</div>

		        <pre class="log">
		            <code ng-repeat="line in log track by $index">{{line}}<br></code>
		        </pre>
        	</div>
        </tab>
    </tabset>
</div>
