<div ng-controller="settingsCtrl" id="settings">
    <tabset>
        <tab heading="Advanced settings">
        	<div class="card advanced main">
        		<div class="card-body">
                    <div class="setting">
                        <input type="checkbox" ng-model="settings.autoBroadcast" ng-change="save()">
                        <div class="setting-title">Automatic publishing</div>
                        <div class="setting-description">When enabled, upon every change in the score, the display system will be updated.</div>
                    </div>

                    <div class="setting">
                        <input type="checkbox" ng-model="settings.autoPublish" ng-change="save()">
                        <div class="setting-title">Automatic approval</div>
                        <div class="setting-description">When enabled, scores submitted will be automatically approved.</div>
                    </div>

                    <div class="setting">
                        <input type="checkbox" ng-model="settings.ignoreNegativeScores" ng-change="save()">
                        <div class="setting-title">Ignore negative scores</div>
                        <div class="setting-description">When enabled, all negative scores will be displayed as 0 in the display system.</div>
                    </div>
                </div>
        	</div>
        </tab>
        <tab heading="Developer view">
        	<div class="card developer main">

		        <div class="card-header">Log</div>

		        <div class="card-body">
                    <pre class="log">
                        <code ng-repeat="line in log track by $index">{{line}}<br></code>
                    </pre>
                </div>

                <div class="card-header">Connectivity</div>

                <div class="card-body">
                    <div class="setting">
                        <div class="setting-title">Challenge Host</div>
                        <input type="text" ng-model="settings.host" ng-change="save()">
                    </div>

                    <div class="setting">
                        <div class="setting-title">Mhub Host</div>
                        <input type="text" ng-model="settings.mhub" ng-change="save()">
                    </div>

                    <div class="setting">
                        <div class="setting-title">Mhub node</div>
                        <input type="text" ng-model="settings.node" ng-change="save()">
                    </div>
                </div>

        	</div>
        </tab>
    </tabset>
</div>
