@import './table.css';
@import './tiles.css';

scores .card .card-section, scores .card .card-divider {
  padding: 0.5rem;
}

scores .card .card-section:first-child {
  padding-bottom: 0;
}

scores .button-group {
  margin: 0;
}

#scores-list.small .big-only-content {
  display: none;
}

#scores-list.big .small-only-content {
  display: none;
}
