#sort-dropdown ul {
  width: 100%;
  min-width: 100%;
}

#sort-dropdown li:nth-child(2n) {
  background: #e0e0e0;
}

scores-tiles {
  margin-top: 1rem;
}

score-tile h6 {
  margin: 0 !important;
  line-height: 1.2em !important;
}

.filter-dropdown ul {
  max-height: 10rem;
  overflow-y: auto;
}

#scores-list.big scores-tiles score-tile.cell .card {
  min-height: 10rem;
}

#scores-list.small scores-tiles score-tile.cell .card {
  min-height: 5rem;
}