<div id="team-import-dialog" class="fll-dialog-shim" ng-controller="TeamImportDialogController" ng-show="dialogVisible" xmlns="http://www.w3.org/1999/html"  ngf-drop="upload($files, $file)" ngf-pattern=".csv" ng-click="cancel()">
    <div class="fll-dialog" id="teamImportDialog" ng-click="$event.stopPropagation()">
        <div class="drag-indication">Drop CSV file here</div>
        <div class="dialog-header">
            Import teams
            <div class="sub-header">Paste a teams list, or drag a csv file, in order to set the teams in the scoring system</div>
        </div>
        <div class="dialog-body">
            <div id="teams-data-textbox-container">
                <textarea ng-model="importRaw"></textarea>
            </div>
            <div id="teams-data-formatting-container">
                <h4>Format</h4>
                <div class="field">
                    <div>Header length</div>
                    <input type="number" ng-model="headerLength">
                </div>
                <div class="field">
                    <div>Number column ({{importNumberExample}})</div>
                    <input type="number" ng-model="importNumberColumn" placholder="choose another">
                </div>
                <div class="field">
                    <div>Name column ({{importNameExample}})</div>
                    <input type="number" ng-model="importNameColumn" placholder="choose another">
                </div>
                <div class="field">
                    <input type="checkbox" ng-model="useCustomDelimiter">
                    <div class="title">
                        Custom delimiter
                        <div class="description" ng-hide="useCustomDelimiter">(Default is tab, the delimiter used when pasting from excel)</div>
                    </div>
                    <input type="text" ng-show="useCustomDelimiter" ng-model="delimiter">
                </div>
            </div>
             <h4>Teams</h4>
            <div id="teams-data" ng-if="importLines">
                <table>
                    <tr ng-repeat="line in importLines" class="team">
                        <td ng-repeat="field in line track by $index" class="field">
                            {{field}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dialog-actions">
            <button class="btn btn-primary" ng-click="ok()">Import</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
