<div class="content">
	<div class="right floated meta">{{tile.data.dateText}}</div>
	<div><a class="ui link header">{{tile.data.teamText}}</a></div>
	<div><a class="ui link sub header">{{tile.data.matchText}}</a></div>
	<div class="ui grid">
		<div class="eight wide column">
			<div><a class="ui link">Refree: {{tile.data.refText}}</a></div>
			<div><a class="ui link">Table: {{tile.data.tableText}}</a></div>
		</div>
		<div class="eight wide column">
			<div class="ui horizontal statistic">
				<div class="value">
					{{tile.data.score}}
				</div>
				<div class="label">
					pts.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="extra content">
	<div class="center aligned">
		<i class="ui primary link folder open outline icon" ng-click="tile.open()"></i>
		<i class="ui link check icon" ng-click="tile.update({ public: !tile.data.public })" ng-class="{green: tile.data.public}" hover-class="green"></i>
		<i class="ui link ban icon" ng-click="tile.update({ noShow: !tile.data.noShow })" ng-class="{orange: tile.data.noShow}" hover-class="orange"></i>
		<i class="ui red link trash icon" ng-click="tile.delete()"></i>
	</div>
</div>
<div class="ui inverted dimmer" ng-class="{active: !tile.ready}">
	<div class="ui loader"></div>
</div>
