
.fll-dialog-shim {
    position: fixed;
    z-index: 1999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    transition: z-index linear 0s, opacity linear 0.2s;
    opacity: 1;
    overflow: auto;
}
.fll-dialog-shim.ng-hide {
    display: block !important;
    opacity: 0;
    z-index: -1;
    transition: z-index linear 0s 0.2s, opacity linear 0.2s;
}
.fll-dialog {
    background: white;
    margin: 10vh auto;
    width: 50vw;
    padding: 1em;
    border-radius: 0.5em;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
.dialog-header {
    font-size: 2.5rem;
    padding: 0.3em 0.3em 0 0.3em;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.5em;
}
.dialog-header .sub-header {
    font-size: 1rem;
    margin-top: 0.6em;
    margin-left: 0.3em;
    color: gray;
    font-style: italic;
}
.dialog-body {
    flex: 1;
}
.dialog-actions {
    margin-top: .75em;
    direction: rtl;
    border-top: 1px solid lightgray;
    padding-top: .75em;
}
