i.material-icons[ng-click] {
    cursor: pointer;
    margin: 0.25em;
}

i.material-icons.big {
    font-size: 2em;
}

/* tabs */
.nav-tabs > li {
    cursor: pointer;
}

/*
* "fluid" class: the first child of an element with this class will take the whole width of the parent element.
*/

.fluid {
	display: flex;
}

.fluid :first-child {
	flex: 1;
}

/*
* "center" class: the children of an element with this class will be centered
*/

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
* "toolbar" class: describes a toolbar. Any element in it will baecome an element in the toolbar
*/
.toolbar {
	display: flex;
	width: 100%;
}

/*
* "card" class: describes a content card.
*/

.card {
    background: #fff;
    border-color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin: 1em;
}

.card.main {
    flex: 1;
}

.card .card-header {
    padding: 1em;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
}

.card .card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card .card-header i {
    vertical-align: bottom;
}


.card .card-top .card-menu {
    padding: 1.5rem;
    margin: 0;
}

.card .card-top .card-menu > * {
    display: inline-block;
}

.card .card-top .card-menu input {
    margin: 0;
}

.card .card-body {
    padding: 1em;
}

/* ng-datatble directive global styles */

ng-datatable table {
    height: 100%;
}

ng-datatable thead td i {
    margin: 0 !important;
    vertical-align: middle;
}

ng-datatable tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
}

ng-datatable td {
    min-width: 3em;
}

ng-datatable td > * {
    margin-top: 0.5em;
    display: block;
}

ng-datatable .actions .btn-group {
    float: right;
}

ng-datatable .actions .btn {
    margin-top: 0.2em;
    padding: 0.3em 0.5em 0 0.5em;
}

ng-datatable .editing-form {
    display: flex;
}

ng-datatable .editing-form input, ng-datatable .editing-form select {
    width: 0;
    flex: 1;
}

ng-datatable .editing-form i {
    font-size: 1.5em;
    margin: 0 !important;
    vertical-align: middle;
    padding: 0.15em 0 0 0;
    flex: 0;
}

ng-datatable td.create-message {
    flex: 22.5;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

ng-datatable.scrollable-body thead {
    display: block;
    width: 100%;
}

ng-datatable.scrollable-body tbody {
    overflow-y: auto;
    display: block;
    width: 100%;
}
