#scoresheet {
    height: inherit;
}

#intro {
    height: inherit;
    background: url('http://www.firstlegoleague.org/sites/default/files/home_hero2.jpg');
}

#intro .intro-card {
    width: 30em;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1em;
}
