#settings {
    height: inherit;
    display: flex;
    flex-direction: column;
}

#settings > *:first-child {
    height: inherit;
    display: flex;
    flex-direction: column;
}

#settings .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#settings .tab-content .tab-pane.active {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#settings .nav-tabs {
    padding: 0.25em 0 0 0;
    margin-bottom: 0;
}

#settings .card.advanced .card-actions {
    padding: 1em;
    align-self: center;
}

#settings .card.developer .log {
    margin: 0 1em;
    max-height: 65vh;
    overflow-y: auto;
}

#settings .setting.disabled {
    opacity: 0.7;
    pointer-events: none;
}

#settings .setting input {
    vertical-align: top;
}

#settings .setting input[type="text"] {
    display: block;
    margin: 0.2em 0 0 0;
}

#settings .setting .setting-title {
    display: inline;
    font-weight: bold;
}

#settings .setting .setting-description {
    text-indent: 1.2em;
}

.settings-message {
    position: absolute;
    right: 5vh;
    bottom: 5vh;
    width: 20em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    animation: 1s 2s linear settings-message-animation;
}

.settings-message.success {
    background: lightgreen;
    border: green 1px solid;
}

.settings-message.fail {
    background: pink;
    border: red 1px solid;
}

.settings-message:not(.animating) {
    display: none;
}

@keyframes settings-message-animation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
