#tournament .card.card-header {
    cursor: pointer;
}

#tournament .card {
    display: grid;
    grid-template-rows: 3.5em 1fr;
    min-height: 5.5em;
}

#tournament .card.teams ng-datatable tbody {
    height: 30vh;
}

#tournament .card.teams td.number { flex: 1.5; }
#tournament .card.teams td.name { flex: 4; }
#tournament .card.teams td.cityState { flex: 2; }
#tournament .card.teams td.country { flex: 2; }
#tournament .card.teams td.affiliation { flex: 2; }
#tournament .card.teams td.coach1 { flex: 2; }
#tournament .card.teams td.coach2 { flex: 2; }
#tournament .card.teams td.judgingGroup { flex: 3; }
#tournament .card.teams td.pitLocation { flex: 2; }
#tournament .card.teams td.translationNeeded { flex: 2; }
#tournament .card.teams td.actions { flex: 1; }

#tournament .card.teams td.create-message {
	flex: 22.5;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

#tournament .card.structure .card-body {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

#tournament .card.structure .currentStage {
    background: lightgrey;
}

#tournament .card.challenge select {
    margin: 0 1em 1em 1em;
}
